<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>

<div class="heading">
    <div class="logo">
        <h1>KickShop</h1>
    </div>

    <div class="navigation">
        <a href="/">Главная</a>
        <a href="/products">Товары</a>
        <a href="/discounts">Акции</a>
    </div>
</div>


<div class="productList">

<div class="product">
    <img src="https://688516.selcdn.ru/Pics/720884/conversions/2.2-offer_images_thumb_mcnv_740_webp.webp">
    <div>
        <h2>Дека NewTone Спектра 570x165 серый</h2>
        <p>Дека NewTone - выполнена в современном стиле с использованием лучших материалов и функционала заложенного в конструкции. Дно деки украшает необычный вырез с логотипом, такое решение существенно облегчает конструкцию деки не влияя на общую прочность. В деке имеются встроенные дропауты, что заметно облегчает процесс установки колеса и его фиксации в деке.
Также, дека имеет заметный конкейв для лучшего контроля палубы при выполнении трюков.</p>
    </div>
    <div class="priceSection">
        <h3>11 800₽</h3>
        <button>Купить</button>
    </div>
</div>


<div class="product">
    <img src="https://688516.selcdn.ru/Pics/709927/conversions/Formula_SelectsDemise1_1024x1024-offer_images_thumb_mcnv_740_webp.webp">
    <div>
        <h2>Дека Tilt Formula Selects Demise 6.8x22.2</h2>
        <p>Перед вами ограниченная серия деки TILT Formula, которую придумал лично создатель бренда TILT Collin Snoek и дизайнер Michael Spizzirri. Кроме цвета и крутой графики, Demise имеет наклон рулевой 84° и уникальный размер.

Успейте урвать уникальный продукт, которого больше не будет в продаже!

В остальном это все та же Formula - идеальный баланс веса, прочности и удобства. Качественное развитие концепции оригинальной деки Theory.

Вырез в нижней части обеспечивает легкий вес, в то время как шея с ребрами жесткости сохраняет прочность.</p>
    </div>
    <div class="priceSection">
        <h3>24 590₽</h3>
        <button>Купить</button>
    </div>
</div>
    <div class="product">
      <img src="https://688516.selcdn.ru/Pics/515378/conversions/FormulaDeck_Black1-offer_images_thumb_mcnv_740_webp.webp">
    <div>
    <h2>Дека Tilt Formula Selects Black 7x23.5</h2>
        <p>Дека Formula является частью коллекции Selects от Tilt. По факту это качественное развитие концепции оригинальной деки Theory.
Вырез в нижней части обеспечивает меньший вес, в то время как новая шея сохраняет прочность. Ближе к задней части у имеются обновленные сварные дропауты и новый фендер с более низким профилем. Дека Formula - достаточно легкий и хорошо сбалансированный инструмент для любого трюка, который вы задумаете сделать следующим.</p>
    </div>
    <div class="priceSection">
        <h3>24 590₽</h3>
        <button>Купить</button>
    </div>
</div>
</div>